*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: beige !important;
}
p{
    margin-bottom: 0 !important;
}
.option{
    background-color: blueviolet;
    width: 49%;
}